[workspace]
members = [
  "crates/shipper",
  "crates/shipper-cli",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
unsafe_code = "forbid"

[profile.release]
strip = true
lto = true
