[workspace]
members = [
  "crates/shipper",
  "crates/shipper-cli",
]
resolver = "3"

[workspace.package]
version = "0.2.0"
edition = "2024"
license = "MIT OR Apache-2.0"
rust-version = "1.92"

[workspace.lints.rust]
unsafe_code = "forbid"

[profile.release]
strip = true
lto = true
